*
{
    font-family:sans-serif;
    box-sizing:border-box;
}
body{
    margin:0;
    padding:0;
    background-color:#efedd6;
}
section{
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-x:hidden;
}
div{
    display:flex;
    align-items:center;
    justify-content: center;
    width:400px;
    height:200px;
    background-color: steelblue;
    color:white;
    margin:1rem;
    font-size:2.5rem; 
    font-weight: 700;
    border-radius:10px;
    box-shadow:2px 4px 5px rgb(0 0 0 / 30%);
    transform:translateX(400%);
    transition:0.5s linear;
}
div:nth-of-type(even)
{
    transform:translateX(-400%);
}
.show
{
    transform:translateX(0px) !important;
}